**/.ipynb_checkpoints

**/b2heavy/__pycache__

**/b2heavy/Shrink/__pycache__

**/b2heavy/ThreePointFunctions/__pycache__
**/b2heavy/ThreePointFunctions/__init__

**/b2heavy/TwoPointFunctions/__pycache__

**/b2heavy/notebooks/.ipynb_checkpoints

**/b2heavy/tests/.ipynb_checkpoints

**/b2heavy/routines/__pycache__


**/z_garbage
**/TwoPointFunctions/__pycache__/
**/ThreePointFunctions/__pycache__/